body { 

    background-image: url("../imgs/pikachu/pikachu.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
 } 

h2 {
    background-color: rgba(122,122,122,0.5);
    color: rgb(0, 27, 177);
}

article {
    background-color: rgba(222, 222, 222, 0.5);
}

header {
    background-image: url("../imgs/pikachu/pikachu2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color : rgb(255, 234, 0);
    color : rgb(84, 84, 84);
}