p {
    color : brown;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 10px;
    text-indent: 20px;
    text-shadow: 3px 2px gray;
}
